/*
 * ProgUI - Base CSS
 */
body,
html {
  border: 0;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
article,
aside,
audio,
canvas,
caption,
details,
div,
figure,
footer,
header,
hgroup,
iframe,
img,
mark,
menu,
nav,
object,
section,
span,
summary,
table,
tbody,
td,
tfoot,
thead,
tr,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
a,
abbr,
address,
b,
blockquote,
cit,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
ins,
label,
legend,
li,
ol,
p,
pre,
q,
samp,
small,
strong,
sub,
sup,
ul {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
nav,
section,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table td,
table th {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*
 * ProgUI - Parameters
 */
/*
 * ProgUI - Mixins, helpers, common elements
 */
.clearfix {
  clear: both;
}
.debug {
  background-color: #ffffbc;
  outline: 1px solid #993333;
}
/*
 * ProgUI - Components
 */
/* Titles */
h1,
h2,
h3 {
  padding: 5px 0;
  margin-bottom: 15px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 19.2px;
}
h3 {
  font-size: 16.8px;
}
/* Navigation */
nav {
  clear: both;
}
nav ul li {
  padding: 5px 0;
}
nav ul:last-of-type {
  margin-top: 15px;
}
/*height: 2.5 * @margin-base;

    h1,h2,h3,h4,h5,h6 {
        float: left;
        //padding: @padding-base @padding-base * 4;
        height: 2.5 * @margin-base;
        line-height: 2.5 * @margin-base;
    }

    ul {
        list-style: none;

        li {
            //display: block;
            float: left;
            //padding: @padding-base @padding-base * 2;
            height: 2.5 * @margin-base;
            margin-right: @margin-base;

            * {
                line-height: 2.5 * @margin-base;
            }
        }
    }

    ul:first-of-type {
        display: inline-block;
        float: left;
    }

    ul:last-of-type {
        display: inline-block;
        float: right;
    }
} */
/* Buttons */
button {
  padding: 5px 10px;
  background-color: #a2a2a2;
  color: #555555;
  border: 1px solid #555555;
}
button:hover {
  background-color: #bbbbbb;
}
button:active {
  background-color: #d4d4d4;
}
button.info {
  background-color: #8c8cd9;
  color: #333399;
  border: 1px solid #333399;
}
button.info:hover {
  background-color: #b3b3e6;
}
button.info:active {
  background-color: #d9d9f2;
}
button.warning {
  background-color: #d9d98c;
  color: #999933;
  border: 1px solid #999933;
}
button.warning:hover {
  background-color: #e6e6b3;
}
button.warning:active {
  background-color: #f2f2d9;
}
button.danger {
  background-color: #d98c8c;
  color: #993333;
  border: 1px solid #993333;
}
button.danger:hover {
  background-color: #e6b3b3;
}
button.danger:active {
  background-color: #f2d9d9;
}
/* Alerts 
.alert {
    .block(@color-base);
    .interact(@color-base);

    &-info {
        .block(@color-info);
        .interact(@color-info);
    }

    &-warning {
        .block(@color-warning);
        .interact(@color-warning);
    }

    &-danger {
        .block(@color-danger);
        .interact(@color-danger);
    }
} */
/* Contextual */
.bg-base {
  background-color: #a2a2a2;
  color: #555555;
  border: 1px solid #555555;
}
.bg-info {
  background-color: #8c8cd9;
  color: #333399;
  border: 1px solid #333399;
}
.bg-warning {
  background-color: #d9d98c;
  color: #999933;
  border: 1px solid #999933;
}
.bg-danger {
  background-color: #d98c8c;
  color: #993333;
  border: 1px solid #993333;
}
.base {
  color: #555555;
}
.info {
  color: #333399;
}
.warning {
  color: #999933;
}
.danger {
  color: #993333;
}
/* Footer */
footer {
  clear: both;
}
body {
  font-family: mono;
  font-size: 16px;
  color: #555555;
  box-sizing: content-box;
  /* .media-query(@media-lg; {
        background-color: #ff0000;
    }) */
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #666666;
}
div,
section,
article {
  padding: 5px 10px;
  margin-bottom: 15px;
}
p {
  margin-bottom: 15px;
}
section {
  clear: both;
}
