/*
 * ProgUI - Base CSS
 */
/* 
 * https://github.com/jtrost/Complete-CSS-Reset
*/
/* Displays for HTML 5 */
article,
aside,
audio,
command,
datagrid,
details,
dialog,
embed,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
video,
wbr {
  display: block;
}
bdi,
figcaption,
keygen,
mark,
meter,
progress,
rp,
rt,
ruby,
time {
  display: inline;
}
/* Deprecated tags */
acronym,
applet,
big,
center,
dir,
font,
frame,
frameset,
noframes,
s,
strike,
tt,
u,
xmp {
  display: none;
}
/* Reset styles for all structural tags */
a,
abbr,
area,
article,
aside,
audio,
b,
bdo,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
command,
datalist,
dd,
del,
details,
dialog,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
keygen,
kbd,
label,
legend,
li,
map,
mark,
menu,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
rp,
rt,
ruby,
samp,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  z-index: 1;
}
/* Miscellaneous resets */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * ProgUI - Parameters
 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v8/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype');
}
/*
@color-base: #555555;
@color-info: #45CBE3;
@color-warning: #FFC145;
@color-danger: #FF6542;
*/
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
}
input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.clearfix {
  clear: both;
}
@media screen and (min-width: 992px) {
  .container {
    margin: auto;
    width: 70%;
  }
}
div,
article,
section,
header,
footer {
  padding: 10px;
  margin: 0 0 10px 0;
}
div:last-child,
article:last-child,
section:last-child,
header:last-child,
footer:last-child {
  margin-bottom: 0;
}
.debug {
  background-color: #cccccc;
}
/* header,footer,nav,section,div {
    background-color: #ccc;
}
h1,h2,h3,h4,h5,h6,p{
    background-color: #ff9;
} */
/**
 * Typography
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 10px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #4d4d4d;
}
/**
 * Columns
 */
.col-row {
  padding: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .col-row {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .col-row .col {
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
  }
  .col-row .col:first-child {
    margin-left: 0;
  }
  .col-row .col:last-child {
    margin-right: 0;
  }
  .col-row .col-2 {
    flex: 2;
    margin-right: 5px;
    margin-left: 5px;
  }
  .col-row .col-2:first-child {
    margin-left: 0;
  }
  .col-row .col-2:last-child {
    margin-right: 0;
  }
  .col-row .col-3 {
    flex: 3;
    margin-right: 5px;
    margin-left: 5px;
  }
  .col-row .col-3:first-child {
    margin-left: 0;
  }
  .col-row .col-3:last-child {
    margin-right: 0;
  }
  .col-row .col-4 {
    flex: 4;
    margin-right: 5px;
    margin-left: 5px;
  }
  .col-row .col-4:first-child {
    margin-left: 0;
  }
  .col-row .col-4:last-child {
    margin-right: 0;
  }
}
.col-row div:last-child,
.col-row article:last-child,
.col-row section:last-child,
.col-row header:last-child,
.col-row footer:last-child {
  margin-bottom: 10px;
}
.col-row:last-child div,
.col-row article,
.col-row section,
.col-row header,
.col-row footer {
  margin-bottom: 0;
}
/**
 * Context
 */
.bg-default {
  background-color: #d4d4d4;
  color: #555555;
  border: 1px solid #555555;
}
.bg-info {
  background-color: #d9d9f2;
  color: #333399;
  border: 1px solid #333399;
}
.bg-warning {
  background-color: #f2f2d9;
  color: #999933;
  border: 1px solid #999933;
}
.bg-danger {
  background-color: #f2d9d9;
  color: #993333;
  border: 1px solid #993333;
}
.default {
  color: #555555;
}
.info {
  color: #333399;
}
.warning {
  color: #999933;
}
.danger {
  color: #993333;
}
