/* Imports */
@import "./reset.less";
@import "./parameters.less";
@import "./common.less";
@import "./components.less";

/* Base CSS */
body {
    font-family: @font-primary;
    font-size: @font-size-base;
    color: @color-base;
    box-sizing: content-box;
}
a {
    text-decoration: none;
    color: @color-link;

    &:hover {
        color: @color-link + #666;
    }
}

div,p{
    padding: @padding-base * 2;
    margin-bottom: @margin-base;
}


/* Structure */
section {
    .clearfix();
}

/* Media queries 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } */