/* Titles */
h1,h2,h3 {
    padding: 2 * @padding-base;
}
h1 { font-size: @font-size-base * 1.5 }
h2 { font-size: @font-size-base * 1.2 }
h3 { font-size: @font-size-base * 1.05 }




/* Navigation */
nav {
    .clearfix();

    ul {

    }
    ul:last-of-type {
        margin-top: @margin-base;
    }
}
    /*height: 2.5 * @margin-base;

    h1,h2,h3,h4,h5,h6 {
        float: left;
        //padding: @padding-base @padding-base * 4;
        height: 2.5 * @margin-base;
        line-height: 2.5 * @margin-base;
    }

    ul {
        list-style: none;

        li {
            //display: block;
            float: left;
            //padding: @padding-base @padding-base * 2;
            height: 2.5 * @margin-base;
            margin-right: @margin-base;

            * {
                line-height: 2.5 * @margin-base;
            }
        }
    }

    ul:first-of-type {
        display: inline-block;
        float: left;
    }

    ul:last-of-type {
        display: inline-block;
        float: right;
    }
} */




/* Buttons */
button {
    .block(@color-base);
    .interact(@color-base);

    &.info {
        .block(@color-info);
        .interact(@color-info);
    }

    &.warning {
        .block(@color-warning);
        .interact(@color-warning);
    }

    &.danger {
        .block(@color-danger);
        .interact(@color-danger);
    }
}




/* Alerts 
.alert {
    .block(@color-base);
    .interact(@color-base);

    &-info {
        .block(@color-info);
        .interact(@color-info);
    }

    &-warning {
        .block(@color-warning);
        .interact(@color-warning);
    }

    &-danger {
        .block(@color-danger);
        .interact(@color-danger);
    }
} */




/* Contextual */
.bg {
    &-base {
        .block(@color-base);
    }
    &-info {
        .block(@color-info);
    }
    &-warning {
        .block(@color-warning);
    }
    &-danger {
        .block(@color-danger);
    }
}
.base { color: @color-base }
.info { color: @color-info }
.warning { color: @color-warning }
.danger { color: @color-danger }




/* Footer */
footer {
    .clearfix();
}