/* Navigation */
nav {
    .clearfix;
    height: 2.5 * @margin-base;

    h1,h2,h3,h4,h5,h6 {
        float: left;
        //padding: @padding-base @padding-base * 4;
        height: 2.5 * @margin-base;
        line-height: 2.5 * @margin-base;
    }

    ul {
        list-style: none;

        li {
            //display: block;
            float: left;
            //padding: @padding-base @padding-base * 2;
            height: 2.5 * @margin-base;
            margin-right: @margin-base;

            * {
                line-height: 2.5 * @margin-base;
            }
            /* {
                display: block;
                padding: @padding-base @padding-base * 2;
                height: 2.5 * @margin-base;
            } */
        }
    }

    ul:first-of-type {
        display: inline-block;
        float: left;
    }

    ul:last-of-type {
        display: inline-block;
        float: right;
    }
}




/* Buttons */
button {
    .block(@color-base);
    .interact(@color-base);

    &.info {
        .block(@color-info);
        .interact(@color-info);
    }

    &.warning {
        .block(@color-warning);
        .interact(@color-warning);
    }

    &.danger {
        .block(@color-danger);
        .interact(@color-danger);
    }
}




/* Alerts */
.alert {
    .block(@color-base);
    .interact(@color-base);

    &.info {
        .block(@color-info);
        .interact(@color-info);
    }

    &.warning {
        .block(@color-warning);
        .interact(@color-warning);
    }

    &.danger {
        .block(@color-danger);
        .interact(@color-danger);
    }
}




/* Footer */
footer {
    .clearfix;
}