/* Fonts & colors */
@font-primary: Arial, sans;
@font-size-base: 16px;

@color-base: #555555;
@color-info: #333399;
@color-warning: #999933;
@color-danger: #993333;
@color-debug: #ffffbc;

/* Spacing, margins, padding */
@padding-base: 5px;
@margin-base: 15px;

/* Misc */
