/**
 * ProgUI - Base CSS
 */

@import "./reset.less";
@import "./parameters.less";

body {
    font-family: @font-sans;
    font-size: @font-size-base;
    color: @color-default;
    line-height: 1.5;
}

input {
    font-family: @font-sans;
    font-size: @font-size-base;
}

// Media-queries
.media-query(@size; @rules) {
    @media screen and (min-width: @size) { @rules(); }
}

// Layout
.clearfix {
    clear: both;
}
.container {
    .media-query(@media-lg; {
        margin: auto;
        width: 70%;
    })
}
@{block-elements} {
    padding: @spacing-base;
    margin: 0 0 @spacing-base 0;
}
@{block-elements} {
    &:last-child {
        margin-bottom: 0;
    }
}

// Debug
.debug{
    background-color: @color-debug;
}
/* header,footer,nav,section,div {
    background-color: #ccc;
}
h1,h2,h3,h4,h5,h6,p{
    background-color: #ff9;
} */




/**
 * Typography
 */
h1,h2,h3,h4,h5,h6{
    font-family: @font-serif;
    font-weight: bold;
}
h1 { font-size: @font-size-base * 2.5 }
h2 { font-size: @font-size-base * 2 }
h3 { font-size: @font-size-base * 1.5 }

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: @spacing-base;

    &:last-child {
        margin-bottom: 0;
    }
}
a {
    text-decoration: none;
    color: @color-link;

    &:hover {
        color: lighten(@color-link, 30%);
    }
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
code {
    font-family: @font-mono;
    color: @color-default;
    background-color: lighten(@color-default, 50%);
}
pre {
    font-family: @font-mono;
    padding: @spacing-base;
    color: lighten(@color-default, 50%);
    background-color: @color-default;
}




/**
 * Columns
 */
.col-margin() {
    margin-right: @spacing-base / 2;
    margin-left: @spacing-base / 2;
    &:first-child{ margin-left: 0 }
    &:last-child{ margin-right: 0 }
}
.col-row {
    padding: 0;
    margin-bottom: 0;

    .media-query(@media-lg; {
        display: flex;
    })
}
.col-row .col {
    .media-query(@media-lg; {
        flex: 1;
        .col-margin();

        &-2 {
            flex: 2;
            .col-margin();
        }
        &-3 {
            flex: 3;
            .col-margin();
        }
        &-4 {
            flex: 4;
            .col-margin();
        }
    });
}

.col-row {
    @{block-elements} {
        &:last-child {
            margin-bottom: @spacing-base;
        }
    }
    &:last-child @{block-elements} {
        margin-bottom: 0;
    }
}




/**
 * Context
 */
.block(@color) {
    background-color: lighten(@color, 50%);
    color: @color;
    border: 1px solid @color;
}
.bg {
    &-default {
        .block(@color-default);
    }
    &-info {
        .block(@color-info);
    }
    &-warning {
        .block(@color-warning);
    }
    &-danger {
        .block(@color-danger);
    }
}
.default { color: @color-default }
.info { color: @color-info }
.warning { color: @color-warning }
.danger { color: @color-danger }




/**
 * Forms
 */
form {
    label, input {
        display: block;
        width: 100%;
    }
    input {
        box-sizing: border-box; // TODO: should all elements have this?
        background-color: #ffffff;
        border: 1px solid darken(@color-default, 30%);
        padding: @spacing-base / 2 @spacing-base;
        margin-bottom: @spacing-base;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

button {
    cursor: pointer;
    padding: @spacing-base / 2 @spacing-base;
    border: 1px solid @color-default;
    background-color: lighten(@color-default, 50%);
    box-shadow: 0 2px 2px #666;
    transition: 0.2s;

    &:hover {
        box-shadow: none;
        position: relative;
        transform: translate(0, 2px);
    }
}
